// Color Variables
$text: #e8e8f8; // Off White (Blue tint)
$background: #030305; // Off Black (Blue tint)
$primary: #3932c3; // Blue
$secondary: #2f333c; // Gray
$accent: #e6a728; // Yellow
$accentBackground: #8e8f941a; // 10% opacity gray color

// Special Color Variables
$linkedin: #0a66c2;

// Padding Variables
$LRPadding: 15vw; // OLD: calc((100vw - 1000px) / 3)

// Animation Variables
$transitionCurve: cubic-bezier(0.44, 1.01, 0.42, 0.98);
$transitionTime: 0.2s;

// Font Variables
@mixin titleStyle {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 10rem;
}

@mixin subtitleStyle {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 4.8rem;
}

@mixin normalStyle {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.8rem;
}

@mixin boldStyle {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.4rem;
}

@mixin accent1 {
  // Dev related stuff
  font-family: 'dico-mono', monospace;
  font-weight: 400;
  font-style: normal;
  color: $primary;
  padding: 0rem 0.2rem 0rem 0.2rem;
  border-radius: 0.4rem;
}

@mixin accent2 {
  // Creative related stuff
  font-family: 'Grandstander', cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: $accent;
  padding: 0rem 0.2rem 0rem 0.2rem;
  border-radius: 0.4rem;
  -webkit-text-stroke-width: 0.1rem;
}

@media only screen and (max-width: 1280px) {
  //tablet size
  .photographyElements {
    grid-template-columns: repeat(2, minmax(auto, 40rem));
    grid-template-rows: repeat(4, 40rem);
  }

  .projectElements {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 750px) {
  //phone size
  .photographyElements {
    grid-template-columns: repeat(1, minmax(auto, 40rem));
    grid-template-rows: repeat(8, 40rem);
  }

  .projectElements {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.textColorAccent1 {
  // For developer related things
  @include accent1();
  font-size: 4.8rem;
}

.textColorAccent2 {
  // For creative related things
  @include accent2();
  font-size: 4.8rem;
}

.textColorAccent3 {
  @include titleStyle();
  background: -webkit-linear-gradient(0deg, $primary 20%, $accent 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  // General website style properties
  @include normalStyle();
  background: transparent;
  color: $text;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: all $transitionTime $transitionCurve;
}

html {
  font-size: 10px;
}

body {
  background: $background;
  display: flex;
  flex-flow: column nowrap;
}

.nav {
  // Contains the entire navigation bar
  z-index: 1;
  position: sticky;
  display: flex;
  flex-flow: row wrap;
  margin: 3rem $LRPadding 0rem $LRPadding;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  top: 3rem;
  background: transparent;
  border-radius: 4rem;
  backdrop-filter: blur(0.8rem);

  &.navAnimation {
    background: $accentBackground;
  }
}

.space {
  height: 5rem;
}

.logo {
  // Logo
  order: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 2rem;
}

.logoText {
  // Logo but the actual text
  @include boldStyle();
  font-size: 2.4rem;

  background: transparent;
}

.navLinks {
  // Container for all external links
  order: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 0.5rem;
}

.linkIcon {
  // Class for external site icons
  height: 2.4rem;
  width: auto;
  background: transparent;
}

.linkBox {
  // Container for each link
  padding: 1.5rem;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;

  &:hover::after {
    // tooltip maker
    display: block;
    position: absolute;
    top: 7rem;
    align-items: center;
    content: attr(data-tooltip);
    border: 0.8px solid $secondary;
    border-radius: 10rem;
    background: $background;
    padding: 0.8rem 1.2rem;
  }
}

#link1 {
  &:hover {
    background: $text;

    .linkIcon {
      filter: brightness(0);
    }
  }
}

#link2 {
  &:hover {
    background: $text;

    .linkIcon {
      filter: brightness(0);
    }
  }
}

#link3 {
  &:hover {
    background: $linkedin;

    .linkIcon {
      filter: brightness(100);
    }
  }
}

.start {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  max-width: 100vw;
  justify-content: space-between;
}

.introduction {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  text-align: center;
}

.introductionTitle {
  @include titleStyle();
  font-size: 9.6;
  font-weight: 400;
  word-break: keep-all;
}

.introductionTag {
  @include subtitleStyle();
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 3rem;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 9rem;
  border-radius: 20rem;
  overflow: hidden;

  &:hover {
    background: $accentBackground;
  }
}

.arrow {
  padding-top: 0.3rem;
  height: 5rem;
  width: 5rem;
}

.webContent {
  margin: 0 $LRPadding 0 $LRPadding;
}

.sectionHeading {
  @include subtitleStyle();
  font-size: 3.6rem;
  font-weight: 500;
  padding: 5rem 0;
}

#projects {
  font-size: 3.6rem;
  padding: 0 1rem;
}

#photography {
  font-size: 3.6rem;
}

.projectElements {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(auto, 80rem));
  grid-template-rows: repeat(2, 40rem);
}

.screenshot {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.box {
  background: $secondary;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0rem 0rem 0rem 0.6rem $text, 0rem 0rem 1rem 0.6rem $text;
  }
}

.photography {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.photographyElements {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 40rem));
  grid-template-rows: repeat(2, 40rem);
  gap: 2rem;
}

.photo {
  background: $secondary;
  border-radius: 1rem;
  width: 100%;
  height: 40rem;
  object-fit: cover;
  overflow: hidden;
  filter: saturate(0) brightness(0.7);

  &:hover {
    z-index: 1;
    transform: scale(1.1);
    filter: saturate(1);
    box-shadow: 0rem 0rem 0rem 0.6rem $text, 0rem 0rem 1rem 0.6rem $text;
  }

  &:hover .externalLinkIcon {
    opacity: 1;
    background: radial-gradient(circle at 100% top, rgba(0, 0, 0, 0.795) 0%, rgba(0, 0, 0, 0) 70%);
  }
}

.source {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.externalLinkIcon {
  position: absolute;
  z-index: 2;
  right: 0rem;
  top: 0rem;
  padding: 2rem 2rem 8rem 8rem;
  height: 3rem;
  width: auto;
  opacity: 0;
  border-radius: 0 0 0 4rem;
}

#photo1 {
  background-image: url('https://source.unsplash.com/y7Ldk3zjdTU');
}

.footer {
  // entire footer container
  padding: 5rem $LRPadding 5rem $LRPadding;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 100vw;
  background: $background;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $secondary;
}

.footerLinksContainer {
  // Container for all external links in the footer
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-around;
  gap: 0.5rem;
}

.footerLinkBox {
  // Box for each specific link icon
  background: transparent;
  padding: 1.5rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $text;

    .linkIcon {
      filter: brightness(0);
    }

    #footerLink1,
    #footerLink2 {
      filter: brightness(1);
    }
  }
}

.footerCopyrightContainer {
  // Contains the copyright elements in the footer
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footerCopyrightText {
  // Copyright Text
  @include normalStyle();
  background: transparent;
  padding-left: 5px;
  padding-top: 0.25rem;
}
